<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.repository.dao2.DepartmentRepository">
    <select id="getDepartment" parameterType="String" resultType="Department">
        SELECT * FROM department r WHERE r.name=#{username}
    </select>
    
    <update id="insertDepartment" parameterType="Department" useGeneratedKeys="true" keyProperty="id">
        insert into department(name,level) values (#{name},#{level})
    </update>
</mapper>
